/* Reset básico */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #202122;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: linear-gradient(180deg, #038C65, #BAD9C8, #D98032);
}
header {
  padding: 10px 20px;
      border-bottom: 1px solid #ccc;
      text-align: center;
}

.banner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
}

.menu {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #038C65;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}



ol {
  padding-left: 20px;
}

footer {
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  background: linear-gradient(180deg,#D98032);
}

.container_ {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  padding: 20px;
}
@media (max-width: 800px) {
  .container_ {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 500px) {
  .container_ {
    grid-template-columns: 1fr; 
  }
}

.img-albuns {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}
.img a {
      display: inline-block;
      margin-top: 8px;
      text-decoration: none;
      color: #0077cc;
      font-weight: bold;
}
 .img a:hover {
      text-decoration: underline;
    }

