* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #f8f9fa;
  color: #202122;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: linear-gradient(180deg, #FF69B4, #FFD700, #FF6347);
}

header {
  width: 100%;
  background-color: #FF1493;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
  border: 5px dotted #000;
}

.menu {
  border-top: 3px dashed #FF0000;
  border-bottom: 3px dashed #FF0000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: #00FFFF;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
  background-color: #FFFF00;
  padding: 5px 10px;
  border-radius: 50px;
}

.menu a:hover {
  color: #FF00FF;
  transform: rotate(5deg);
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #FFFACD;
  border: 3px solid #32CD32;
  box-shadow: 10px 10px 0 #FFA500;
}

h2 {
  margin-bottom: 10px;
  color: #8A2BE2;
  text-shadow: 2px 2px 0 #FFD700;
}

h3 {
  margin-top: 20px;
  background-color: #ADFF2F;
  display: inline-block;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
  background-color: #E6E6FA;
  padding: 10px;
  border-left: 5px solid #FF4500;
}

ol {
  padding-left: 20px;
  list-style-type: "✫ ";
}

footer {
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  background: linear-gradient(180deg, #FF0000, #0000FF);
  font-family: "Papyrus", fantasy;
}